<div class="my-3">
    <h2>FromEvent</h2>
    <br>

    <div class="row ml-4">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Add Video
                </div>
                <div class="card-body">
                    <button #addbtn class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <div class="card-header">
                    List
                </div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <div class="card-header">
                    List
                </div>
                <div class="card-body">
                    <ul id="elContainer2">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>